<div class="col-left">
    <div class="graph">
        <p>Graph goes here</p>
    </div>
    <div class="stats">
        <div class="stat-box">
            <div class="stat-title">Max Pres.</div>
            <div class="stat-value">34</div>
            <div class="stat-unit">psi</div>
        </div>
        <div class="stat-box">
            <div class="stat-title">Min Pres.</div>
            <div class="stat-value">10</div>
            <div class="stat-unit">psi</div>
        </div>
        <div class="stat-box">
            <div class="stat-title">Fi0<sub>2</sub></div>
            <div class="stat-value">34</div>
            <div class="stat-unit">psi</div>
        </div>
        <div class="stat-box">
            <div class="stat-title">bpm</div>
            <div class="stat-value">12</div>
            <div class="stat-unit">beats</div>
        </div>
        <div class="stat-box">
            <div class="stat-title">Other</div>
            <div class="stat-value">100</div>
            <div class="stat-unit">unit</div>
        </div>
    </div>
</div>
<div class="col-right">
    <div class="component">
        <label class="switch-container">
            <input type="checkbox" checked />
            <span class="switch round"></span>
        </label>
        <div class="descrip">ON/OFF <br><span>Running for: 02:34:67</span></div>
    </div>
    <div class="component">
        <div class="count-content"><span class="output"></span></div>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="range1">
        </div>
        <div class="descrip">Max Pressure</div>
    </div>
    <div class="component">
        <div class="count-content"><span class="output"></span></div>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="range2">
        </div>
        <div class="descrip">Min Pressure</div>
    </div>
    <div class="component">
        <div class="count-content"><span class="output"></span></div>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="range3">
        </div>
        <div class="descrip">State Change Sensitivity</div>
    </div>
    <div class="component">
        <div class="count-content"><span class="output"></span></div>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="range4">
        </div>
        <div class="descrip">State Change Speed</div>
    </div>
</div>